<header>
    <div class="container_nav">
        <div>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="">
                        <img class="logo" src="../../../../assets/img/logo_typo_rocbotcar.png"
                            alt="Logo du site de covoiturage Rocbotcar"></a>
                </li>
                <div class="nav_right">
                    <li class="nav-item" >
                        <a  class="nav-link" routerLink="/admin">ADMIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/trajets">Trajets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/inscription">Inscription</a>
                    </li>
                    <li>
                        <button  class="btn btnConnexion" type="button" routerLink="/">Logout</button>
                    </li>
                   

                    
                </div>
            </ul>
        </div>
    </div>
</header>


<div class="container_main">

    <div class="formulaire">
        <div class="card text-dark ">
 
            <div class="card-header text-center"><h2>Bienvenue !</h2></div>
         
              <div class="card-body">

                <blockquote class="citation">
                    Le meilleur voyage est celui qu'on partage !.
                   <cite>Isabelle Starter-Tisne</cite>
                 </blockquote>
         
                
         
              </div>
         
              <div class="card-footer text-center">
         
              <a  class="btn m-2" routerLink="/proposition-trajet">Proposer votre trajet</a>
              
              <a  class="btn"  routerLink="/trajets">Trouver votre trajet</a>
         
              </div>
         
            </div>

    </div>
    <div class="illustration">
        <img class="accueilImg" src="../../../../assets/img/illustration_accueil_rocbotcar.png"
            alt="Le robot rocbotcar entouré d’une voiture, de sa valise de travail et d’un téléphone visualisant un trajet sur une carte. Rocbotcar dit En route pour votre lieu de travail. ">
    </div>
</div>