<app-header></app-header>

<div class="container_main" *ngIf="validateAccount">

    <div class="container_form" >

        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input (click)="formUserToValidate()" (click)="getListUserToValidate()" type="radio" class="btn-check" name="btnradio" id="btnradio1"
                autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Valider un compte</label>

            <input (click)="formDeleteUser()" type="radio" class="btn-check" name="btnradio" id="btnradio2"
                autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">Supprimer un compte</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label (click)="formUpdateUser()" class="btn btn-outline-primary" for="btnradio3">Modifier un compte</label>
        
            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
            <label (click)="formViewMessage()" class="btn btn-outline-primary" for="btnradio4" checked>Gestion des messages</label>
        </div>

        <div>
            <h1>Compte à valider</h1>

            <div *ngIf="successValidate">
                <h4 class="text-center text-success mb-4" *ngIf="successValidate">Le compte de {{ user.firstName }} {{
                    user.lastName }} a bien été validé ! </h4>
            </div>

            <!-- Table debut -->
            <table class="tablaAdmin">
                <thead class="theadAdmin">
                    <tr>
                        <th class="thThead">Pseudo</th>
                        <th class="thThead">Prénom</th>
                        <th class="thThead">Nom</th>
                        <th class="thThead">Email</th>
                        <th class="thThead">A valider</th>
                    </tr>
                </thead>
                <tbody class="tbodyAdmin">
                    <tr class="trTbody" *ngFor="let user of userListToValidate">
                        <td class="thTbody">{{user.username}}</td>
                        <td class="thTbody">{{user.firstName}}</td>
                        <td class="thTbody">{{user.lastName}}</td>
                        <td class="thTbody">{{user.email}}</td>
                        <td class="thTbody"><button class="btn btn-danger" (click)="setUserValidate(user)"
                                type="button">Valider</button></td>
                    </tr>
                </tbody>
            </table>
            <!-- Table fin -->
        </div>
    </div>
</div>


<div class="container_main" *ngIf="deleteAccount">

    <div class="container_form" >

        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input (click)="formUserToValidate()" type="radio" class="btn-check" name="btnradio" id="btnradio1"
                autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio1">Valider un compte</label>

            <input (click)="formDeleteUser()" type="radio" class="btn-check" name="btnradio" id="btnradio2"
                autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio2">Supprimer un compte</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label (click)="formUpdateUser()" class="btn btn-outline-primary" for="btnradio3">Modifier un compte</label>
        
            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
            <label (click)="formViewMessage()" class="btn btn-outline-primary" for="btnradio4">Gestion des messages</label>
        </div>

        <h1>Compte à Supprimer</h1>

        <!-- Table debut -->
        <table class="tablaAdmin">
            <thead class="theadAdmin">
                <tr>
                    <th class="thThead">Pseudo</th>
                    <th class="thThead">Prénom</th>
                    <th class="thThead">Nom</th>
                    <th class="thThead">Email</th>
                    <th class="thThead">A valider</th>
                </tr>
            </thead>
            <tbody class="tbodyAdmin">
                <tr class="trTbody" *ngFor="let user of getAllUsersList">
                    <td class="thTbody">{{user.username}}</td>
                    <td class="thTbody">{{user.firstName}}</td>
                    <td class="thTbody">{{user.lastName}}</td>
                    <td class="thTbody">{{user.email}}</td>
                    <td class="thTbody"><button class="btn btn-danger" (click)="editUser(user)" data-toggle="modal" data-target="#deleteUser"
                            type="button">Supprimer</button></td>
                </tr>
            </tbody>


        </table>
        <!-- Table fin -->
    </div>
</div>

<div class="container_main" *ngIf="updateAccount">

    <div class="container_form">

        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input (click)="formUserToValidate()" type="radio" class="btn-check" name="btnradio" id="btnradio1"
                autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio1">Valider un compte</label>

            <input (click)="formDeleteUser()" type="radio" class="btn-check" name="btnradio" id="btnradio2"
                autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">Supprimer un compte</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label (click)="formUpdateUser()" class="btn btn-outline-primary" for="btnradio3" checked>Modifier un compte</label>
        
            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
            <label (click)="formViewMessage()" class="btn btn-outline-primary" for="btnradio4" >Gestion des messages</label>
        </div>

        <h1>Compte à Modifier</h1>

        <!-- Table debut -->
        <table class="tablaAdmin">
            <thead class="theadAdmin">
                <tr>
                    <th class="thThead">Pseudo</th>
                    <th class="thThead">Prénom</th>
                    <th class="thThead">Nom</th>
                    <th class="thThead">Email</th>
                <!--    <th class="thThead">Verifié</th> -->
                    <th class="thThead">A valider</th>
                </tr>
            </thead>
            <tbody class="tbodyAdmin">
                <tr class="trTbody" *ngFor="let user of getAllUsersList">
                    <td class="thTbody">{{user.username}}</td>
                    <td class="thTbody">{{user.firstName}}</td>
                    <td class="thTbody">{{user.lastName}}</td>
                    <td class="thTbody">{{user.email}}</td>
                   <!-- <td class="thTbody">{{user.verified}}</td> -->
                    <td class="thTbody"><button class="btn btn-danger" (click)="editUser(user)" data-toggle="modal" data-target="#exampleModal"
                            type="button">Modifier</button></td>
                </tr>
            </tbody>
        </table>
        <!-- Table fin -->
    </div>
</div>

<div class="container_main" *ngIf="contact">

    <div class="container_form">

        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input (click)="formUserToValidate()" type="radio" class="btn-check" name="btnradio" id="btnradio1"
                autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio1">Valider un compte</label>

            <input (click)="formDeleteUser()" type="radio" class="btn-check" name="btnradio" id="btnradio2"
                autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">Supprimer un compte</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label (click)="formUpdateUser()" class="btn btn-outline-primary" for="btnradio3">Modifier un compte</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
            <label (click)="formViewMessage()" class="btn btn-outline-primary" for="btnradio4" checked>Gestion des messages</label>
        </div>

        <h1>Gestion des messages</h1>

        <!-- Table debut -->
        <table class="tablaAdmin">
            <thead class="theadAdmin">
                <tr>
                    <th class="thThead">Pseudo</th>
                    <th class="thThead">Message</th>
                </tr>
            </thead>
            <tbody class="tbodyAdmin">
                <tr class="trTbody" *ngFor="let message of getAllContactList">
                    <td class="thTbody">{{message.username}}</td>
                    <td class="thTbody">{{message.message}}</td>
                    <!--<td class="thTbody"><button class="btn btn-danger" (click)="editUser(user)" data-toggle="modal" data-target="#exampleModal"
                            type="button">Supprimer</button></td>-->
                </tr>
            </tbody>
        </table>
        <!-- Table fin -->
    </div>
</div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifier un utilisateur</h5>
                </div>
                <div class="modal-body">
                    <!-- ****************************** Start form edit ***************************** -->
                    <form #updateForm="ngForm" >
                        <div class="form-group">
                            <label>Pseudo</label>
                            <input type="text" class="form-control" [(ngModel)]="userEdit.username" name="username">
                        </div>
                        <div class="form-group">
                            <label>Prénom</label>
                            <input type="text" class="form-control" [(ngModel)]="userEdit.firstName" name="firstname">
                        </div>
                        <div class="form-group">
                            <label>Nom</label>
                            <input type="text" class="form-control" [(ngModel)]="userEdit.lastName" name="lastname">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" [(ngModel)]="userEdit.email" name="email">
                        </div>
                        <div class="modal-footer">
                            <button type="button" (click)="closeUpdate()" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <button type="submit" (click)="updateUser()" class="btn btn-primary" data-dismiss="modal">Modifier</button>
                        </div>
                    </form>
                     <!-- ****************************** End form edit ***************************** -->
                </div>
            </div>
        </div>
    </div>
    <!-- ****************************** End Modal ***************************** -->

    <!-- Modal -->
    <div class="modal fade" id="deleteUser" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Supprimer un utilisateur</h5>
            </div>
            <div class="modal-body">
                <!-- ****************************** Start form edit ***************************** -->
                <form #deleteForm="ngForm" >
                    <div>
                        <p>Voulez-vous supprimer l'utilisateur : {{userEdit.firstName}} {{userEdit.lastName}} </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" (click)="closeUpdate()" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" (click)="deleteUser()" class="btn btn-primary" data-dismiss="modal">Supprimer</button>
                    </div>
                </form>
                 <!-- ****************************** End form edit ***************************** -->
            </div>
        </div>
    </div>
</div>
<!-- ****************************** End Modal ***************************** -->