<app-header></app-header>



<div class="container_main">
    <div>
        <div class="d-flex mt-3 mb-3">
            <div class="image">
                <img src="{{profil.avatar}}" alt="Photo de profil">
            </div>
            <div>
                <div class="white_windows">
                    <h1>{{profil.lastName}} {{profil.firstName}}</h1>
                    <p>Numéro de téléphone : {{profil.phoneNumber}}</p>
                    <p>Adresse mail : {{profil.email}}</p>
                </div>
                <p>Pour toute(s) modification(s), veuillez envoyer un message sur la page contact</p>
            </div>
        </div>


    </div>
</div>