/********PAGE***************/

.white_windows {
    background-color: white;
    border-radius: 10px;
    box-shadow: 20px -5px 30px 0px rgba(0, 0, 0, 0.1), -20px -5px 30px 0px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    width: 600px;
}

.image {
    background-color: #ffffff;
    width: 182px;
    border-radius: 100px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
}

.image img {
    width: 90%;
}