<div class="container_main">
    <div class="container_form">
        <h1>Proposer un trajet simple</h1>



        <form class="form" #simpleRide="ngForm" (ngSubmit)="addSimpleRide(simpleRide)">

            <div class="formLabel">
                <!-- ********************ADRESSE DE DEPART**************************  -->
                <div class="form-group">
                    
                    <label>Adresse de départ et d'arrivée : </label>
                    <input type="text" class="form-control" name="departure" id="adressStart" 
                    ngModel required minlenght="2">

                    <!-- <input type="text" class="form-control" name="departure" id="adressStart" ngModel
                    adressStartVar="ngModel" required minlenght="2"
                    [ngClass]="{'is-invalid': adressStartVar.touched && !adressStartVar.valid}">
                    <div class="invalid-feedback">
                        <span *ngIf="adressStartVar.errors">
                            Entrez une adresse
                        </span>
                    </div> -->
                   
                </div>
                
                <!-- ********************LE VEHICULE**************************  -->
                <div class="form-group">
                    <label>Mon véhicule : </label>
                    <input type="text" class="form-control" name="vehicule_type"  
                    ngModel required>
                  
                </div>
                

                <!-- ********************NOMBRE DE PLACE DANS LE VEHICULE**************************  -->
                <div class="form-group">
                    <label>Nombre de place : </label>
                    <input type="number" class="form-control" name="seats"  
                    ngModel required>
                  
                </div>
               
                
                <!-- ********************POUR UN TRAJET PONCTUEL************************  -->
                <div>

                    <!-- DATE DU TRAJET -->
                    <div class="form-group">
                        <label>Date/Horaires : </label>
                        <input class="form-control" type="date" name="dateAller" id="punctual-ride-date"  
                        ngModel>
                    </div>

                    <!-- HORAIRE DU TRAJET  -->
                    <div class="form-group">
                        <label>Aller : </label>
                        <input class="form-control ride_time" type="time" id="start_time" name="timeAller"  
                        ngModel>
                        <label>Retour : </label>
                        <input class="form-control ride_time" type="time" id="return_time" name="timeRetour"  
                        ngModel>
                    </div>

                    <!-- BOUTONS VALIDATION ET RETOUR  -->
                    <!-- <div class="buttonForm">
                        <button type="button" class="btn_covoit" routerLink="">Annuler</button>
                        <button type="submit" class="btn_covoit">Valider</button>
                    </div> -->
                </div>

               
                <!-- BOUTONS VALIDATION ET RETOUR  -->
                <div class="buttonForm">
                    <button type="button" class="btn_covoit" routerLink="/proposition-trajet">Annuler</button>
                    <button type="submit" class="btn_covoit">Valider</button>
                </div>
            </div>

        </form>
    </div>

</div>