.container_form {
    background-color: white;
    border-radius: 10px;
    padding: 20px 100px;
    max-width: 800px;
    min-width: 650px;
    margin: 0 10px; 
}

.dejaInscrit {
    color: #2319a5;
    font-size: 13.5px;
    font-family: 'Roboto';
    font-weight: 500;
    text-decoration: none;
}

.container_form input {
    width: 320px;
}

.container_form .checkbox{
    width: auto;
    margin-right: 5px;
}
.container_form a{
    color: #2319a5;
    font-size: 13.5px;
}
.container_form .form ::placeholder {
    color: #000000;
    text-align: end;
    margin-right: 10px;
}

.formLabel {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* margin-top: 5px; */
}

.form-control {
    margin-left: 10px;
}

.buttonForm {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.container_form .class_captcha{
    display: flex;
    justify-content: left;
    margin-top: 20px;
    margin-left: -3px;
}