
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');


.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 200px;
    max-width: 90%;  
    grid-auto-rows: 550px;

}
.imgTrajets {
    width: 140%;
    margin: 10%    
}

.card {
    background: rgb(241, 240, 240);
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(17, 12, 46, 0.15) 0rem 0rem 0.4rem 0.4rem;
    margin-bottom: 20px;
    border-radius: 1rem;
    margin-right: 40px;
    overflow: scroll;
    width: 100%;

  }

  .card2{
    background: #fff;
    
    padding: 30px;
    box-shadow: rgba(17, 12, 46, 0.15) 0rem 0rem 0.4rem 0.4rem;
    margin-bottom: 20px;
    border-radius: 1rem;
    height: 60%;

  }
  .Contact{

    grid-column: 1/2;
    display : flex;
    align-items: center;
    justify-self: end;
  

  }

  i{
    width: 10%;
  }

  .card-content{
      display: grid;
      /* grid-template-columns: 1fr 1fr 2fr ; */


  }
  .cardR{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    
    

  }

  

  .card__header{
    
        grid-column: 1 / 5;
        justify-self: center;
        margin-bottom: 20px;
      }
.img{
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    
}
.lit{
  padding-bottom: 12px;
}

.search {
  width: 100%;
}

.clickBtn{
  padding-right: 400px;
}
.inputKey{
  padding-left: 400px;

}






.liste{
    
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    align-items: baseline;  
    height: 70%;  
    justify-content: space-between; */

    display: flex;
    height: 70%;
    /* grid-row: auto; */
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: flex-end;

}
.ListeR-content{
  grid-column: 3/5;
}

button{
  margin-right: 20px;
}


h3{
    font-size: 16px;
    font-weight: bold;
    margin-top:10%;

}

.Ride {
  grid-column: 2/3;
  justify-self: center;
  grid-row: 2/3;
}




.card__header  {
    font-weight: 100;
    font-size: 15px;
    justify-content: left;
  }
.liste-recurrente {
    list-style: none;

}

#liste-simple {
    list-style: none;

}


h1,.card-title {
    margin-top: -10px;
    color: #2319A5;
}
.card-title{
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    

    

}

/****** ARRIERE PLAN  *******/
header {
  background: #a8bbef;
  display: flex;
  justify-content: center;
}


/******* HEADER BLANC ********/
.container_nav {
  width: 1200px;
  margin-top: 15px;
  padding: 12px 16px;
  box-shadow: 20px -20px 30px -10px rgba(0, 0, 0, 0.2), -20px -20px 30px -10px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}
.container_nav .nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/******** NAVIGATION **********/
.logo {
  max-width: 300px;
}

.nav-link {
  color: #4d4c4c;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Roboto';
}

.btnConnexion {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
  text-transform: uppercase;
  background-color: #4a6dce;
  border: none;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav_right{
  display: flex;
  align-items: center;
}


