
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 200px;
    max-width: 90%;  
    grid-auto-rows: 550px;

}
.imgTrajets {
    width: 100%;
    margin: 15%    
}

.card {
    background: rgb(241, 240, 240);
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(17, 12, 46, 0.15) 0rem 0rem 0.4rem 0.4rem;
    margin-bottom: 20px;
    border-radius: 1rem;
    margin-right: 40px;
    overflow: scroll;

  }

  .card2{
    background: #fff;
    
    padding: 30px;
    box-shadow: rgba(17, 12, 46, 0.15) 0rem 0rem 0.4rem 0.4rem;
    margin-bottom: 20px;
    border-radius: 1rem;
    height: 215px;

  }

  .card-content{
      display: grid;
      grid-template-columns: 1fr 1fr 2fr ;


  }
  .cardR{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    
    

  }

  .card__header{
    
        grid-column: 1 / 5;
        justify-self: center;
        margin-bottom: 20px;
      }
.img{
    grid-column: 1/2;
    grid-row: span 2;
    justify-self: center;
    width:60%;
}
.lit{
  padding-bottom: 12px;
}
.liste{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    align-items: baseline;  
    height: 70%;  
    justify-content: space-between;

}
.ListeR-content{
  grid-column: 3/5;
}


h3{
    font-size: 16px;
    font-weight: bold;
    margin-top:10%;

}




.card__header  {
    font-weight: 100;
    font-size: 15px;
    justify-content: left;
  }
.liste-recurrente {
    list-style: none;

}

#liste-simple {
    list-style: none;

}
li {
    padding: 0.2rem;
}

h1,.card-title {
    margin-top: -10px;
    color: #2319A5;
}
.card-title{
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    

    

}


