/* You can add global styles to this file, and also import other style files */
body {
    background-color: #a8bbef;
    display: flex;
    justify-content: center;
}

/* CONTENEUR DES BODY DES PAGES  */
.container_main {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    /* box-shadow: 25px 0px 15px -20px rgba(0, 0, 0, 0.8),-25px 0px 15px -20px rgba(0, 0, 0, 0.8); */
    box-shadow: 20px -20px 30px -10px rgba(0, 0, 0, 0.2), -20px -20px 30px -10px rgba(0, 0, 0, 0.2);
    background: #a8bbef;
    z-index: 1;
}

/* PRINCIPAUX BOUTONS */
.btn_covoit {
    background: #4a6dce;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Roboto Mono';
    color: #ffffff;
    padding: 8px 30px;
    margin: 15px 0;
    text-align: center;

}

/* TITRE PRINCIPAL DES PAGES */
h1 {
    color: #2319a5;
    font-size: 27px;
    font-family: 'Roboto Mono';
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 10px;
}

/* FORMULAIRE  */

/* couleur placeholder */
.form ::placeholder {
    color: #2319a5;
    opacity: 1;
    /* Firefox */
}

.form :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #2319a5;
}

.form ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #2319a5;
}

/* input */
.form input {
    background: #cbd6f6;
    font-family: 'Electrolize';
    font-size: 13.5px;
    margin: 10px 0;
    border-radius: 10px;
}

/* label */

label {
    color: #4d4c4c;
    font-size: 13.5px;
    font-family: 'Roboto';
}