footer {
    background-color: #ffffff;
    padding-left: 5%;
}

.contact {
    color: #4d4c4c;
    font-size: 24px;
    font-family: 'Roboto';
    
}

.rocbotcar {
    color: #2319a5;
    font-size: 24px;
    font-family: 'Electolize';
    margin-left: 40%;
}